* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.wrapper {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.wrapper ul li {
  list-style: none;
}
